.centre_middle {
  margin: 5em auto;
  padding: 0.7em;
}
.max_content {
  width: max-content;
}
.border_red {
  border: 1px solid red;
}
.centre_text {
  text-align: center;
}
.flex_box_middle_spacing {
  display: flex;
  justify-content: space-between;
}
.margin_4 {
  margin: 4px;
}
